
.contain{
    margin: 0 10px;
    position: relative;
    padding: 1% 1% 1% 1%;
  
}
.card_price{
    border-radius: 3px;
    border: 1px solid #555555;
    padding: 10px 10px;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
}
.fixed {
    position: fixed;
}
.card_actual_price{
    background-color: #e2f2ff;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    justify-content: center;
}
.card_actual_price .card_taxes{
    font-size: 12px;
}
.price_details{
    background-color: #f2f2f2;
    padding: 10px;
    margin: 2px 0;
    border-radius: 3px;
    font-size: 15px;
}

#services .nav-menu a{
    width: 50%;
    background-color: #fff;
    border:2px solid #009961;
    justify-content: center;
    margin: 15% 0 0 25%;
  }  
#services .nav-menu a:hover{
    width: 50%;
    background-color: #009961;
  }
/*--------------------------------------------------------------
# Disable fixed price col on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    #price{
      position: relative;
     justify-content: center;
     ;
    }
    #services .nav-menu a{
        width: 50%;
        background-color: #fff;
        border:2px solid #009961;
        justify-content: center;
        margin: 10% 0 0 25%;
      } 
  }
    /*--------------------------------------------------------------
# trip type
--------------------------------------------------------------*/
.trip_type{
    display: block;
    width: 100%;
    justify-content: space-between;
    height: 8vh;
    background-color: #fff;
    font-size: 17px;
    color: #4a4a4a;
    padding: 1% 5% 2% 5%;
    border-bottom:1px solid #e2e2e2;
    border-top:1px solid #e2e2e2;
}
.car_type select{
    
    width: 200px;
    border-radius: 50px;
    background-color: #ffffff;
    color: #555555;
    border: 2px solid #009961;
    z-index: 1;
    padding: 5px 20px;
    justify-content: space-around;
    outline:none;
    cursor: pointer;
} 
  
.car_type select option select{
    border: none;
    outline: none;
}
/*--------------------------------------------------------------
# itinerary
--------------------------------------------------------------*/
.itinerary{
font-size: 18px;
font-weight: 750;
color: #4a4a4a;
display: block;
width: 100%;
justify-content: space-between;
height: 7vh;
background-color: #fff;
z-index: 100;
padding: 1% 10% 0% 10%;
border-bottom:1px solid #e2e2e2;

}
#visa1,#visa2,#visa3{
    cursor: pointer;
}
@media screen and (max-width: 768px) {

}
.active2 {
    color: #009961!important;
    
    border-bottom: 2px solid #009961;
    height: 100%;
}


    /*--------------------------------------------------------------
# activity
--------------------------------------------------------------*/
.activity{
    font-size: 17px;
    display: block;
    width: 100%;
    justify-content: space-between;
    height: 8vh;
    background-color: #fff;
    font-weight: 400;
    color: #4a4a4a;
    padding: 1% 5% 1% 5%;
    border-bottom:1px solid #e2e2e2;

}
.active3 {
    color: #009961!important;
    border-radius: 30px;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    height: 100%;
    background-color: #ffffff;
    
}
#flight,#flight2,#flight3,#flight4,#flight5,#flight6{
    cursor: pointer;
    
    justify-content: center;
    padding: 5px 10px;
  
}

  /*--------------------------------------------------------------
# dayplan box
--------------------------------------------------------------*/

  .datacardbox {
      margin: 0;
    padding:2rem;
    width: 90%;
    z-index: 1;
    position: relative;
    left: 9.5%;
    top:-7.3%; 
}
.day_list{
      margin: 0;
      padding-top:2rem;
      width: 10%;
      z-index: 1000;
}
.day_list a{
    border: none;
    background-color: black;
}
.anchor1{
    display: block;
    height: 400px; /*same height as header*/
    margin-top: -400px; /*same height as header*/
    visibility: hidden;
  }
#services .datacard .nav-menu h4{
    font-size: 15px;
}
#services .datacard .nav-menu a{
    font-size: 15px;
    border: none;
    height: 5px;
}
.datacardbox .header{
    
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    padding: 10px;
    color: #4a4a4a;
    background-color: #ebeef2;
    border: 1px solid black;
    border-bottom: none;
}

.datacardbox .header .left{
    padding-left: 0rem;
    justify-content: space-between;
}
.datacardbox .header .right{
    position: absolute;
    text-align: right;
    right: 20%;
    justify-content: space-between;
  
}
.datacardbox .datacardbody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-top: none;
}
.datacardbody .dataimg{
    width: 100%;
    height: auto;
}
.datacardbody img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0.5rem;
}
.datacardbody .details{
    width: 100%;
    height: auto;
}
.details .hotel_name{
    font-size: 18px;
    font-weight: 550;
    padding-left: 1rem;
    color: #4a4a4a;
}
.details .loc{
    font-size: 14px;
    font-weight: 300;
    padding-left: 1rem;
}
.details .dateH{
    font-size: 15px;
    font-weight: 400;
    padding-left: 1rem;
}
.details .date{
    font-size: 14px;
    font-weight: 400;
    padding-left: 1rem;
}

.datacardbody .dataLastpart{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column  ;
}
.highlight p{
    padding-left: 1rem;
    font-size: 16px;
    font-weight: 500;
}

.highlight ul{
    list-style:circle;
    padding-left: 1rem;
    margin-left: 3rem;
    font-size: 14px;
}

#policy{
    font-size: 15px;
}

/*vertical line*/
div.vertical-line{
 
    width: 1px; /* Line width */
    background-color: black; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. 
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
  }

  .sticky {
    position: fixed;
    top: 11vh;
    width: 66.334%
  }
  #headr{
    z-index: 100;
  }
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }
  